.inputhide{
    display: none;
}
.icon{
    height: 40px;
}

.grafica{
    height: 500px !important;
    width: 100% !important;
}

.parrafo{
    width: 45%; 
    padding: 20px; 
    text-align: justify;
}

.conceptos{
    background-color: aliceblue;
}
.simulacion{
    background-color: aqua;
}